#title {
    text-align: center;
    background-color: lightgrey;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px gray;
}

#part1 {
    background-color: lightgray;
}

.part1Header {
    text-align: center;
}

.part1Layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#part2,
#part3,
#part4 {
    background-color: lightgray;
}

.part2Header,
.part3Header,
.part4Header {
    text-align: center;
}

.NameHobby {
    text-align: center;
}
.formCont {
    display: block;
    grid-template-columns:1fr 1fr;
    align-items: center;
}
#submitButton {
    border: 1px solid black;
    width: 100%;
}

footer {
    background-color: lightgray;
    text-align: center;
}

#part5 {
    background-color: lightgray;
    text-align: center;
}

#part6 {
    background-color: lightgray;
    text-align: center;
}

